<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
	<div class="jumbotron">
        <div class="col-sm-6 col-md-6 col-xs-12" style="padding-bottom: 20px;">
             <h3>Services</h3>
        </div>

        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">General Programming</li>
                <li class="list-group-item">Web Development</li>
                <li class="list-group-item">Android Development (New)</li>
            </ul>
        </div>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>